
<%= form_with model:@user, data:{turbo: false, class:"col-6"} do |f| %>

  <div class="row">

    <div class="col-6 mt-2">

      <div class="form-group text-center" data-controller="user-avatar">
        <div class="row">
          <div class="col-12">
            <%= image_tag user_avatar(@user), height:128, width:128, class:
            "rounded-circle", data: { target: "user-avatar.output" } %>
          </div>
          <div class="col-12 mt-3">
            <label class="btn btn-dark">
              Dosya Seçin
              <span style="display:none;">
                <%= f.file_field :avatar, data: {target: "user-avatar.input", action:
                "user-avatar#replacePhoto" }%>
              </span>
            </label>
          </div>
        </div>
      </div>

      <div data-controller="hidden-field" class="row justify-content-center">
        <label
          data-action="click->hidden-field#emailHide"
          class="btn btn-info col-10">
          Email
        </label>
        <div class="field form-group col-12 mt-2">
          <%= f.email_field :email, autocomplete: "on",
          data:{"hidden-field-target":"email"}, placeholder:"Email Giriniz",
          class:"hidden-field form-control form-email"%>
        </div>

        <label
          data-action="click->hidden-field#passwordHide"
          class="btn btn-info col-10">
          Şifre
        </label>
        <div class="field form-group col-12 mt-2">
          <%= f.password_field :password, data:{"hidden-field-target":"password"},
          placeholder:"Şifrenizi Giriniz (Min. 8 Karakter)", class:"hidden-field
          form-control form-password"%>
        </div>

        <div class="field form-group col-12">
          <%= f.password_field :password_confirmation,
          data:{"hidden-field-target":"password_confirmation"}, class:"hidden-field
          form-control form-password", placeholder:"Şifrenizi Tekrar Giriniz"%>
        </div>
      </div>

    </div>

    <div class="col-6 mt-2 justify-content-end align-items-center">
      <div class="field form-group">
        <%= f.label "İsim" %> <%= f.text_field :name, class:"form-control",
        autocomplete:"name"%>
      </div>
      <div class="field form-group">
        <%= f.label "Soyisim" %> <%= f.text_field :surname, class:"form-control",
        autocomplete:"surname"%>
      </div>
      <div class="field form-group">
        <%= f.label "Telefon" %> <%= f.text_field :phone, class:"form-control",
        autocomplete:"phone"%>
      </div>
      <div class="field form-group">
        <%= f.label "Okul Numarası" %> <%= f.text_field :schoolNumber,
        class:"form-control", autocomplete:"schoolNumber"%>
      </div>
    </div>

    <div class="col-12 my-4 mx-auto">
      <div class="d-flex flex-column justify-content-between align-items-start">
        <div class="actions"><%= f.submit "Güncelle", class:"btn btn-info my-2"%></div>
        <div>
          <%= link_to "Ana Sayfaya Geri Dön", root_path, class:"btn btn-dark my-2",
          data:{turbo_action: "replace"}%>
        </div>
      </div>
    </div>
  </div>
<% end %>
