<div class="login-dark">
            <h2 class="sr-only">Login Form</h2>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { data: { turbo: false} } ) do |f| %>
            <div style= "display: none;">
              <%= render "devise/shared/error_messages", resource: resource %>
            </div>


              <div class="illustration form-group"><%= image_tag('paulogo.png') %></div>
              <div class="field form-group">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
              </div>

              <div class="field form-group">
                <%= f.password_field :password, autocomplete: "current-password" , class: "form-control", placeholder: "Password" %>
              </div>

              <% if devise_mapping.rememberable? %>
                <div class="field">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end %>

              <div class="actions form-group">
                <%= f.submit "Log in" ,class: "btn btn-primary btn-block "%>
              </div><a><br><div class="center_div">
                <%= render "devise/shared/links" %>
              </div></a>

            <% end %>
    </div>
