
<div class="login-dark">

  <form method="post">
          <h2 class="sr-only">Login Form</h2>
          <div class="illustration"><%= image_tag "https://seeklogo.com/images/P/pamukkale-universitesi-logo-7389B23A32-seeklogo.com.png" %></div>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field form-group">
              <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "form-control" , placeholder: "Email"%>
            </div>

            <div class="actions form-group">
              <%= f.submit "Şifre sıfırlama bilgilerini gönder" , class: "btn btn-primary btn-block"%>
            </div><div class="center_div">
              <a href="#"><%= render "devise/shared/links" %></a></form>
            </div>
          <% end %>


</div>
