
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">
          <%= image_tag("https://seeklogo.com/images/P/pamukkale-universitesi-logo-7389B23A32-seeklogo.com.png",style: 'width:30px;height:30px;margin-bottom:5px;')%>
          <span>Hackerspace</span>
        </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
           <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to "Ana Sayfa", root_path, class:"nav-link"%>
            </li>
            <li class="nav-item">
              <%= link_to "Hakkımızda", about_path, class:"nav-link"%>
            </li>
            <li class="nav-item">
              <%= link_to "İletişim", contact_path, class:"nav-link"%>
            </li>
          </ul>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <% if current_user %>
           <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <%= link_to "Hesap", user_path(current_user.id), class:"nav-link"%>
              </li>
           </ul>
          <% end %>
      </div>
    </ul>
  </nav>
</div>
